body{
    font-family: 'Special Elite', cursive;
    /* background-color: rgb(59, 22, 22); */
}
nav{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(14, 52, 110);
}
label{
    text-align: center;
    display: block;
    color: rgb(14, 52, 110);
    font-weight: 100;
    font-size: larger;

}
input{
    margin: 0 auto;
    /* text-align: center; */
    display: block;
    margin-bottom: 20px;
    border-color: rgb(14, 52, 110);
    border-color: rgb(14, 52, 110);
}
button{
    /* align-items: center; */
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    background-color: rgb(14, 52, 110);
    color: white;

}
div{
    text-align: center;
}